USE [master]
GO
/****** Object:  Database [BTTHUCHANH]    Script Date: 10/25/2024 12:45:30 PM ******/
CREATE DATABASE [BTTHUCHANH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTTHUCHANH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BTTHUCHANH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTTHUCHANH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BTTHUCHANH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTTHUCHANH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTTHUCHANH]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [varchar](12) NULL,
	[UserId] [nvarchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[id] [varchar](12) NULL,
	[idCart] [varchar](12) NULL,
	[idProduct] [varchar](12) NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [varchar](20) NULL,
	[productName] [nvarchar](20) NULL,
	[picture] [varchar](10) NULL,
	[unitPrice] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[id] [varchar](12) NULL,
	[idUser] [varchar](12) NULL,
	[TotalPrice] [float] NULL,
	[date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetail]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetail](
	[id] [varchar](12) NULL,
	[idProduct] [varchar](12) NULL,
	[quantity] [int] NULL,
	[idReceipt] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserManage]    Script Date: 10/25/2024 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserManage](
	[id] [varchar](12) NULL,
	[username] [nvarchar](20) NULL,
	[email] [nvarchar](20) NULL,
	[password] [nvarchar](20) NULL,
	[string] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([id], [productName], [picture], [unitPrice]) VALUES (N'f314f817-1', N'Coca cola', N'', 10000)
INSERT [dbo].[Product] ([id], [productName], [picture], [unitPrice]) VALUES (N'c13b151b-1', N'Miranda', N'', 10000)
INSERT [dbo].[Product] ([id], [productName], [picture], [unitPrice]) VALUES (N'a0fc641a-a', N'Tiramisu', N'', 100000)
GO
USE [master]
GO
